<div class="product-container">
<div class="product">
  <div class="product__photo">
    <div class="photo-container">
      <div class="photo-main">
        <%= cl_image_tag @cocktail.photo.key, height: 400, width: 400, crop: :fill %>
      </div>
    </div>
  </div>
  <div class="product__info">
    <div class="title">
      <h1><%= @cocktail.name %></h1>
    </div>
    <div class="description">
      <h3>INGREDIENTS</h3>
      <table><% @cocktail.doses.each do |dose| %>
        <tr>
        <td class="dose-name"><%= dose.ingredient.name %></td>
        <td class="dose-description"><%= dose.description %></td>
        <td><%= link_to 'x', dose_path(dose), method: :delete, data: {confirm: 'Are you sure to delete this dose?'}, class: 'btn btn-outline-dark' %></td>
        </tr>
      <% end %>
      </table>
    </div>
    <%= link_to 'Add an ingredient', new_cocktail_dose_path(@cocktail), class: 'btn btn-outline-success' %>
  </div>
</div>
</div>
