<div class="container">

<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, { id: 'ingredient' } %>
  <%= f.submit "Submit dose", class: "btn btn-primary" %>
<% end %>

</div>



<p>
  <%= link_to "ajouter un cocktail", new_cocktail_path %>
</p>
